.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 1rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

.btn {
  background: #4f005f;
  border: 1px solid #4f005f;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font: inherit;
  margin: 0 0.5rem;
  padding: 0.5rem 1.5rem;
}

.btn--alt {
  background: transparent;
  color: #4f005f;
}

.btn:hover,
.btn:active {
  background: #741188;
  border-color: #741188;
}

.btn--alt:hover,
.btn--alt:active {
  background: #f8dae9;
}

.modal {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  left: 50%;
  padding: 1rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 30rem;
  z-index: 100;
}

.backdrop {
  background: rgba(0, 0, 0, 0.75);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}